* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}

@font-face {
    font-family: Anime Ace;
    src: url("../fonts/anime_ace_bb/animeace2bb_tt/animeace2_reg.ttf");
}

body {
    font-family: "Anime Ace", 'Times New Roman', Times, serif;
    color: #36454F;

    background-image: url("../images/white-plant-branch-gray-brick-wall-natural-light-background-mobile-wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    color: #36454F;
    text-decoration: none;
}

a:visited {
    color: #36454F;
}

a:hover {
    color: hsl(345, 100%, 30%);
}

a:active {
    color: hsl(345, 100%, 20%);
}

.page-container {
    border: 1px solid red;

    /* scroll-snap-align: start; */

    min-height: 100vh;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

#navbar {
    border: 1px solid orange;

    /* align-self: flex-start; */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    min-width: 100%;

    background-image: linear-gradient(to right, rgba(169, 169, 169, 0), rgba(169, 169, 169, 1), 
    rgba(169, 169, 169, 0));
}

#navbar ul {
    border: 1px solid orchid;

    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#home_flex_container {
    border: 1px solid salmon;

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#home_container {
    border: 1px solid pink;

    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    align-items: center;
    justify-content: space-around;
}

#poem {
    border: 1px solid rosybrown;

    /* text-align: center; */
}

#try_container {
    border: 1px solid forestgreen;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#try_container img {
    border: 1px solid saddlebrown;

    width: 30%;

    animation-name: heart_beat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#try_container span {
    border: 1px solid goldenrod;
}

@keyframes heart_beat {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

#home_icon {
    border: 1px solid slateblue;

}

#home_icon > img {
    border: 1px solid sandybrown;
    width: 4%;
}

#about_container {
    border: 1px solid gold;

    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#about_container img {
    border: 1px solid yellowgreen;

    width: 25%;
}

#algo_steps {
    border: 1px solid hotpink;

    list-style-type: circle;
}



